* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-display: fallback;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}


:root {
  --app-background-color: 0, 20, 60;
  --side-container-border-color: 120, 180, 240;
  --side-container-background-color: 5, 55, 155;
}


#root {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: rgb(var(--app-background-color));
}




/* --- GLOBAL CSS --- */


.app {
  display: flex;
  justify-content: space-between;

  padding: 1rem;
  margin: 0 auto;

  gap: 1rem;
  width: 50%;
  height: 100%;
  min-width: 50rem;
}

.left, .right {
  flex: 1;
  min-width: 20%;
  max-width: 30%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Piece design */

.piece {
  gap: 1px;
  display: flex;
  flex-direction: column;
}

.line {
  gap: 1px;
  display: flex;
}

.block {
  width: 1.5rem;
  height: 1.5rem;
}


/* Side container */

.side-container {
  background-color: rgb(var(--side-container-background-color));
}
.side-container hr {
  width: 100%;
  height: 3px;
  border: none;
  background-color: rgb(var(--side-container-border-color));
}

.side-container__title {
  padding: 0.25rem 0.75rem;

  color: #fffd;
  font-weight: 500;
  font-size: 1.25rem;
  text-transform: uppercase;

  background-color: #fff2; /* Make background slightly brighter */
}

.side-container__content {
  color: #fffd;
  padding: 0.75rem;
}


/* Main Tetris Board */

.board {
  gap: 1px;
  background-color: #fff2;

  height: 100%;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
}

.board .line .block {
  height: 100%;
  width: calc(10% - (9px / 10)); /* 9 gaps of 1px / 10 blocks */ 
}
.board .line .block::before {
  content: '';
  display: block;
  overflow: hidden;
  padding-bottom: 100%;
}

.board .play-overlay {
  inset: 0;
  position: absolute;

  display: grid;
  place-items: center;

  background-color: #0005;
}
.board .play-text {
  color: white;
  user-select: none;
  text-align: center;

  padding: 1rem;
  font-size: 2rem;
}


/* Side panels */

.saved-piece .side-container__content,
.next-piece .side-container__content {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 0;
  min-height: calc(5rem + 1px); /* 2rem padding + 2*1.5rem block lines height + 1px gap */
}

.score .side-container__content {
  color: gold;
  font-size: 2rem;
  font-weight: 600;
}


/* Mobile friendly version --- WIP */

@media (max-width: 1024px) {
  .app {
    flex-direction: column;
  }

  .left, .right {
    max-width: unset;
    width: fit-content;
    flex-direction: row;
  }

  .side-container__content {
    overflow: auto;
    height: min-content;
  }

  .commands {
    display: none;
  }
}
